<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.emu.plugin-gui-sandbox">
      </category>
      <view
            name="Welcome View"
            icon="icons/sample.gif"
            category="com.emu.plugin-gui-sandbox"
            class="com.emu.pluginguisandbox.views.WelcomeView"
            id="com.emu.pluginguisandbox.views.WelcomeView">
      </view>
      <view
            category="com.emu.plugin-gui-sandbox"
            class="com.emu.pluginguisandbox.views.SampleView"
            icon="icons/sample.gif"
            id="com.emu.pluginguisandbox.views.SampleView"
            name="Sample View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.emu.pluginguisandbox.views.WelcomeView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.emu.pluginguisandbox.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
